@model IEnumerable<MVCDataTableActions.Models.FileEntryViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>File Entries</h2>

<form method="get">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search by File Name" />
</form>

@foreach (var item in Model)
{
    <div>
        <h4>@item.OriginalFileName</h4>
        <div>
            Original File Name : @item.SavedFileName  - submitted by @item.ProviderID on <small>@item.DOL.ToString();</small>
        </div>
    </div>
}
