@model MVCDataTableActions.Models.Provider

@{
    ViewBag.Title = "Index";
}

<h2>Files for @Model.Name</h2>

@Html.Partial("_FileEntries", @Model.FileEntries)

<p>
    @Html.ActionLink("Create New", "Create", new { providerid = Model.ProviderID })
</p>
